<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php" />
            <add name="php" path="*.php" verb="*" modules="CgiModule" scriptProcessor="D:\Program Files (x86)\php-5.3.8-Win32-VC9-x86\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
